<p>Hello <%= @employee.name %>,</p>

<p>Your vacation request from <%= @request.start_date %> to <%= @request.end_date %> has been <%= @request.status %>.</p>

<p>Best regards,</p>
<p>Your HR Team</p>